* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
body{
  background: #323c41;
}
.root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
